DataLightViewer/Resources/DataToolsLight-Data.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Server">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Database" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="Tables" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Table" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="Columns" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element name="Column" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="name" use="optional"/>
                                        <xs:attribute type="xs:int" name="object_id" use="optional"/>
                                        <xs:attribute type="xs:int" name="column_id" use="optional"/>
                                        <xs:attribute type="xs:string" name="type" use="optional"/>
                                        <xs:attribute type="xs:int" name="precision" use="optional"/>
                                        <xs:attribute type="xs:int" name="scale" use="optional"/>
                                        <xs:attribute type="xs:string" name="is_nullable" use="optional"/>
                                        <xs:attribute type="xs:string" name="is_identity" use="optional"/>
                                        <xs:attribute type="xs:short" name="maxLength" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Keys" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element name="Key" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="name" use="optional"/>
                                        <xs:attribute type="xs:int" name="object_id" use="optional"/>
                                        <xs:attribute type="xs:int" name="index_id" use="optional"/>
                                        <xs:attribute type="xs:int" name="parent_object_id" use="optional"/>
                                        <xs:attribute type="xs:string" name="type" use="optional"/>
                                        <xs:attribute type="xs:string" name="type_desc" use="optional"/>
                                        <xs:attribute type="xs:string" name="create_date" use="optional"/>
                                        <xs:attribute type="xs:string" name="modify_date" use="optional"/>
                                        <xs:attribute type="xs:string" name="isDescendingKey" use="optional"/>
                                        <xs:attribute type="xs:string" name="columnName" use="optional"/>
                                        <xs:attribute type="xs:string" name="columns" use="optional"/>
                                        <xs:attribute type="xs:string" name="parentTable" use="optional"/>
                                        <xs:attribute type="xs:string" name="parentColumn" use="optional"/>
                                        <xs:attribute type="xs:string" name="referentialTable" use="optional"/>
                                        <xs:attribute type="xs:string" name="referentialColumn" use="optional"/>
                                        <xs:attribute type="xs:string" name="is_disabled" use="optional"/>
                                        <xs:attribute type="xs:string" name="is_unique_constraint" use="optional"/>
                                        <xs:attribute type="xs:string" name="is_unique" use="optional"/>
                                        <xs:attribute type="xs:string" name="is_primary_key" use="optional"/>
                                        <xs:attribute type="xs:string" name="onDeleteAction" use="optional"/>
                                        <xs:attribute type="xs:string" name="onUpdateAction" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>			  
                          <xs:element name="Constraints" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element name="Constraint" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="definition" use="optional"/>
                                        <xs:attribute type="xs:int" name="object_id" use="optional"/>
                                        <xs:attribute type="xs:int" name="parent_object_id" use="optional"/>
                                        <xs:attribute type="xs:string" name="name" use="optional"/>
                                        <xs:attribute type="xs:string" name="columnName" use="optional"/>
                                        <xs:attribute type="xs:string" name="columns" use="optional"/>
                                        <xs:attribute type="xs:string" name="type" use="optional"/>
                                        <xs:attribute type="xs:string" name="type_desc" use="optional"/>
                                        <xs:attribute type="xs:string" name="create_date" use="optional"/>
                                        <xs:attribute type="xs:string" name="modify_date" use="optional"/>
                                        <xs:attribute type="xs:string" name="is_primary_key" use="optional"/>
                                        <xs:attribute type="xs:string" name="is_unique_constraint" use="optional"/>
                                        <xs:attribute type="xs:string" name="is_unique" use="optional"/>
                                        <xs:attribute type="xs:int" name="index_id" use="optional"/>
                                        <xs:attribute type="xs:int" name="index_column_id" use="optional"/>
                                        <xs:attribute type="xs:string" name="ignoreDuplicationKey" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>			  
                          <xs:element name="Indexes" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element name="Index" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="name" use="optional"/>
                                        <xs:attribute type="xs:int" name="object_id" use="optional"/>
                                        <xs:attribute type="xs:int" name="index_id" use="optional"/>
                                        <xs:attribute type="xs:int" name="column_id" use="optional"/>
                                        <xs:attribute type="xs:string" name="columnName" use="optional"/>
                                        <xs:attribute type="xs:string" name="columns" use="optional"/>
                                        <xs:attribute type="xs:string" name="type_desc" use="optional"/>
                                        <xs:attribute type="xs:string" name="is_primary_key" use="optional"/>
                                        <xs:attribute type="xs:string" name="is_unique_constraint" use="optional"/>
                                        <xs:attribute type="xs:string" name="is_unique" use="optional"/>
                                        <xs:attribute type="xs:string" name="is_descending_key" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>					  
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="schemaName" use="optional"/>
                        <xs:attribute type="xs:string" name="name" use="optional"/>
                        <xs:attribute type="xs:int" name="object_id" use="optional"/>
                        <xs:attribute type="xs:int" name="schema_id" use="optional"/>
                        <xs:attribute type="xs:string" name="type" use="optional"/>
                        <xs:attribute type="xs:string" name="type_desc" use="optional"/>
                        <xs:attribute type="xs:string" name="create_date" use="optional"/>
                        <xs:attribute type="xs:string" name="modify_date" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Views" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="View" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="View-value" minOccurs="0" maxOccurs="1"/>					  
                          <xs:element name="Columns" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Column" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="name" use="optional"/>
                                        <xs:attribute type="xs:integer" name="object_id" use="optional"/>
                                        <xs:attribute type="xs:integer" name="column_id" use="optional"/>
                                        <xs:attribute type="xs:string" name="type" use="optional"/>
                                        <xs:attribute type="xs:int" name="precision" use="optional"/>
                                        <xs:attribute type="xs:int" name="scale" use="optional"/>
                                        <xs:attribute type="xs:string" name="is_nullable" use="optional"/>
                                        <xs:attribute type="xs:string" name="is_identity" use="optional"/>
                                        <xs:attribute type="xs:int" name="maxLength" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>				  						  					  
                        <xs:element name="Indexes" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element name="Index" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="name" use="optional"/>
                                        <xs:attribute type="xs:integer" name="object_id" use="optional"/>
                                        <xs:attribute type="xs:integer" name="index_id" use="optional"/>
                                        <xs:attribute type="xs:integer" name="columnd_id" use="optional"/>
                                        <xs:attribute type="xs:string" name="columnName" use="optional"/>
                                        <xs:attribute type="xs:string" name="columns" use="optional"/>
                                        <xs:attribute type="xs:string" name="type_desc" use="optional"/>
                                        <xs:attribute type="xs:string" name="is_primary_key" use="optional"/>
                                        <xs:attribute type="xs:string" name="is_unique" use="optional"/>
                                        <xs:attribute type="xs:string" name="is_unique_constraint" use="optional"/>
                                        <xs:attribute type="xs:string" name="is_descending_key" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>						  				  
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name" use="optional"/>
                        <xs:attribute type="xs:integer" name="object_id" use="optional"/>
                        <xs:attribute type="xs:string" name="schemaName" use="optional"/>
                        <xs:attribute type="xs:integer" name="schema_id" use="optional"/>
                        <xs:attribute type="xs:string" name="create_date" use="optional"/>
                        <xs:attribute type="xs:string" name="modify_date" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Procedures" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Procedure" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Procedure-value" minOccurs="0" maxOccurs="1"/>
                          <xs:element name="Parameters" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element name="Parameter" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="name" use="optional"/>
                                        <xs:attribute type="xs:integer" name="object_id" use="optional"/>
                                        <xs:attribute type="xs:integer" name="parameter_id" use="optional"/>
                                        <xs:attribute type="xs:string" name="type" use="optional"/>
                                        <xs:attribute type="xs:string" name="is_output" use="optional"/>
                                        <xs:attribute type="xs:string" name="has_default_value" use="optional"/>
                                        <xs:attribute type="xs:string" name="default_value" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name" use="optional"/>
                        <xs:attribute type="xs:integer" name="object_id" use="optional"/>
                        <xs:attribute type="xs:string" name="schemaName" use="optional"/>
                        <xs:attribute type="xs:string" name="create_date" use="optional"/>
                        <xs:attribute type="xs:string" name="modify_date" use="optional"/>
                        <xs:attribute type="xs:string" name="type" use="optional"/>
                        <xs:attribute type="xs:string" name="type_desc" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional"/>
            <xs:attribute type="xs:integer" name="database_id" use="optional"/>
            <xs:attribute type="xs:string" name="create_date" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="file-type"/>
      <xs:attribute type="xs:string" name="connectionString"/>
    </xs:complexType>
  </xs:element>
</xs:schema>