DataLightViewer/Resources/DataToolsLight-UI.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Server">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Database" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Tables" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Table" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Columns" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Column" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="isExpanded" use="optional"/>
                                        <xs:attribute type="xs:string" name="isSelected" use="optional"/>
                                        <xs:attribute type="xs:string" name="showChildrenQuantity"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="isExpanded" use="optional"/>
                              <xs:attribute type="xs:string" name="isSelected" use="optional"/>
                              <xs:attribute type="xs:string" name="showChildrenQuantity"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Keys" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Key" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="isExpanded" use="optional"/>
                                        <xs:attribute type="xs:string" name="isSelected" use="optional"/>
                                        <xs:attribute type="xs:string" name="showChildrenQuantity"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="isExpanded" use="optional"/>
                              <xs:attribute type="xs:string" name="isSelected" use="optional"/>
                              <xs:attribute type="xs:string" name="showChildrenQuantity"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Constraints" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Constraint" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="isExpanded" use="optional"/>
                                        <xs:attribute type="xs:string" name="isSelected" use="optional"/>
                                        <xs:attribute type="xs:string" name="showChildrenQuantity"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="isExpanded" use="optional"/>
                              <xs:attribute type="xs:string" name="isSelected" use="optional"/>
                              <xs:attribute type="xs:string" name="showChildrenQuantity"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Indexes" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Index" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="isExpanded" use="optional"/>
                                        <xs:attribute type="xs:string" name="isSelected" use="optional"/>
                                        <xs:attribute type="xs:string" name="showChildrenQuantity"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="isExpanded" use="optional"/>
                              <xs:attribute type="xs:string" name="isSelected" use="optional"/>
                              <xs:attribute type="xs:string" name="showChildrenQuantity"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="isExpanded" use="optional"/>
                        <xs:attribute type="xs:string" name="isSelected" use="optional"/>
                        <xs:attribute type="xs:string" name="showChildrenQuantity"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="isExpanded"/>
                  <xs:attribute type="xs:string" name="isSelected"/>
                  <xs:attribute type="xs:string" name="showChildrenQuantity"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Views" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="View" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Columns" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Column" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="isExpanded" use="optional"/>
                                        <xs:attribute type="xs:string" name="isSelected" use="optional"/>
                                        <xs:attribute type="xs:string" name="showChildrenQuantity"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="isExpanded"/>
                              <xs:attribute type="xs:string" name="isSelected"/>
                              <xs:attribute type="xs:string" name="showChildrenQuantity"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Indexes" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="isExpanded"/>
                                  <xs:attribute type="xs:string" name="isSelected"/>
                                  <xs:attribute type="xs:string" name="showChildrenQuantity"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="isExpanded" use="optional"/>
                        <xs:attribute type="xs:string" name="isSelected" use="optional"/>
                        <xs:attribute type="xs:string" name="showChildrenQuantity"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="isExpanded"/>
                  <xs:attribute type="xs:string" name="isSelected"/>
                  <xs:attribute type="xs:string" name="showChildrenQuantity"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Procedures" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Procedure" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Parameters" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Parameter" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="isExpanded" use="optional"/>
                                        <xs:attribute type="xs:string" name="isSelected" use="optional"/>
                                        <xs:attribute type="xs:string" name="showChildrenQuantity"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="isExpanded" use="optional"/>
                              <xs:attribute type="xs:string" name="isSelected" use="optional"/>
                              <xs:attribute type="xs:string" name="showChildrenQuantity"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="isExpanded" use="optional"/>
                        <xs:attribute type="xs:string" name="isSelected" use="optional"/>
                        <xs:attribute type="xs:string" name="showChildrenQuantity"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="isExpanded"/>
                  <xs:attribute type="xs:string" name="isSelected"/>
                  <xs:attribute type="xs:string" name="showChildrenQuantity"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="isExpanded" use="optional"/>
            <xs:attribute type="xs:string" name="isSelected" use="optional"/>
            <xs:attribute type="xs:string" name="showChildrenQuantity"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="isExpanded"/>
      <xs:attribute type="xs:string" name="isSelected"/>
      <xs:attribute type="xs:string" name="showChildrenQuantity"/>
      <xs:attribute type="xs:string" name="file-type"/>
    </xs:complexType>
  </xs:element>
</xs:schema>